h1{
    color: white;
}

html{
    background-image: url("../images/matrix.jpg");
}

#gamespace{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
    position: relative;
    bottom: -40px;
    height: 500px;
    font-family: 'Share Tech Mono', monospace;
}